html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.mx-2 {
 margin: 0 8px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.5s ease-in-out;
}


.deck .card.open {
    transform: rotateY(180deg);
    background: #02ccba;
    font-size: 33px;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #59af60;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 10px;

}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.green {
    color: #98e653;
    font-size: 1.2em;
}

.circle {
    border: 1px solid #cac8c8;
    border-radius: 50%;
    padding: 9px;
    color: #06d216;
    font-size: 2em;
}

.win {
    padding: 10% 0;
}

.win h1 {
    color: #e44;
}

.win p {
    font-size: 1.2em;
    color: #6b6969;
    text-align: center;
}

.win  button {
    background: #02ccba;
    border: 1px solid #188e83;
    border-radius: 2px;
    padding: 4px 18px;
    color: #fff;
    font-weight: bold;
    transition: all 0.4s ease;
}

.win  button:hover {
    background: #188e83;
    border: 1px solid #02ccba;
    border-radius: 2px;
    padding: 6px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}



  



.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
 }
  
@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
}